/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .collection {
 	background: none;
 	border: none;
 }

.icon-block {
  padding: 0 15px;
}

.padded-container {
	padding: 1.5em !important;
}

.padded-container--less {
	padding: .5em !important;
}

.no-padding {
	padding: 0 !important;
}

.leftpad {
	padding-left: 1em !important;
}

.leftpad--more {
	padding-left: 2em !important;
}

.no-margin {
	margin: 0 !important;
}

.no-margin--bottom {
	margin-bottom: 0 !important;
}

/* Form Correction */
input {
	position: relative;
	z-index: 1000;
}

.picker__date-display {
	display: none;
}

/* Pagination Correction */

ul.pagination {
	display: block;
	margin: 0 auto;
}

ul.pagination li {
	display: inline-block;
	float: none;
}

ul.pagination li i.mdi-navigation-chevron-left,
ul.pagination li i.mdi-navigation-chevron-right {
	position: relative;
	top: 0.5rem;
}

ul.pagination:after {
	content: "";
  display: table;
	clear: both;
}

ul.pagination li a {
	position: relative;
	top: 0.15rem;
}

.bold {
	font-weight: bold;
}

.larger-font {
	font-size: 1.1em !important;
}

@media only screen and (max-width: 992px){
	.padded-container {
		padding: 0 1em !important;
	}

	.no-padding--mobile {
		padding: 0 !important;
	}

	.top-padding--mobile {
		padding-top: 1em !important;
	}

	.left-pad {
		padding-left: none;
	}
}

.modal {
	padding-bottom: 15px;
	max-height: 90% !important;
	overflow-x: hidden;
}

@media only screen and (max-width: 992px){
	.modal {
		top: 5% !important;
	}
}



/*  Nav */

.top-nav--home {
	display: none;
}

.side-nav li i{
	position: relative;
	top: 7px;
	margin-right: 1rem;
	font-size: 1.75rem;
}

#logo-container {
	height: auto;
}

#logo-container img{
	width: 125px;
	display: block;
	margin: 0 auto;
}

header, .main, footer {
    padding-left: 240px;
  }

@media only screen and (max-width : 992px) {

	header, .main, footer {
		padding-left: 0;
	}

	.top-nav--home {
		display: inline;
	}
}

/*  Main */

#login-modal {
	max-width: 400px;
}

.card-title {
	max-width: calc(100% - 150px);
	display: inline-block;
}

.card-date {
	float: right;
	margin-top: 15px;
}

@media only screen and (max-width : 992px) {
	.card-title {
		max-width: 100%;
	}

	.card-date {
		float: none;
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.card-content p {
		font-size: 1.2em;
		line-height: 1.5em;
	}
}

/* SWD Services */
.feature-list li{
	font-size: 1.2em;
	padding: 0.5em;
}

.financial-aid-list-item {
	line-height: 1.8em;
}

@media only screen and (max-width : 600px) {
	.financial-aid-list-item {
		padding-left: 3em !important;
	}
}

.financial-aid-list-item {

}

/* CSA */

.csa-role {
	margin: 0;
	font-weight: 600;
}

.csa-contact-row {
	margin: .5rem 0;
}

.csa-contact-row i{
	margin-right: 1.5rem;
	font-size: 1.4em;
}

.csa-contact-row span {
	/* font-size: 1.1em; */
}


/* Profile */
.profile-block {
	padding: 0 !important;
	margin: 0.75rem 0;
}

.profile-name {
	margin-bottom: 1rem;
}

.profile-content {
	position: relative;
	margin-left: 1.5rem;
}

	.profile-content--location {
		top: 7px;
	}

.profile-content-icon-container {
	padding: 0 !important;
}

.profile-content-icon {
	font-size: 1.8em;
}

.profile-map {
	margin-top: 1rem;
}

#profile-update-modal {
	/* min-height: 490px; */
}

.due-details-content p,
.swd-services-content p{
	font-size: 1.1em;
}


/* Leave */

.leave-add-btn {
	right: 35px;
	bottom: 45px;
}

.leave-input {
	margin-top: 8em;
}

#add-leave-modal {
	max-height: 95%;
	top: 3% !important;
}

@media only screen and (max-width : 600px) {
	.leave-input--mobile {
		margin-top: 10em;
	}

	.leave-input--less-mobile {
		margin-top: 1em;
	}
}

/* Search Result */

.search-list--header{
	margin-bottom: 20px;
	padding-left: 12px;
}
.search-list--name{
	margin-top: 9px;
	font-size: 20px;
}

.search-list--profile-contianer,
.search-list--leave-contianer {
	margin-top: 0;
}



/* Achievements & DC Cases*/
.disco-title h5,
.achievement-title h5{
	line-height: 2.2rem;
}
.achievemment-icon-container,
.disco-icon-container {
	margin-top: 30px;
}
.achievenment-icon-container i {
	display: block;
}



/* Staff Notices */
.delete-link,
.archive-notice-form {
	float: right;
}

.delete-link {
	margin-top: -5px;
	margin-right: 0 !important;
} 

.delete-link i {
	font-size: 1.5rem;
}

.delete-link:active i {
	color: #d32f2f; 
}


/* Staff & Warden Leave List */

.leave-approve-checkbox-container {
	position: relative;
}

.leave-approve-checkbox {
	position: absolute;
	left: -0.2rem;
	padding-right: 0.2rem;

}

.leave-approve-checkbox label {
	left: 0.7rem;
	top: 0.1rem;
}

.leave-block--history .collapsible-body,
.leave-block--printed .collapsible-body,
.leave-block--pending .collapsible-body{
	padding: 1.5rem 1rem;
}

.leave-search-btn {
	right: 35px;
	bottom: 45px;
}
.collapsible-header-proxy {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }