---
title: Activity Center
---
.main
  .container
    .section
      .row
        .col.s12.z-depth-1.white
          .row
          .col.s12.m4
            img.responsive-img(src='images/avatar-large.jpg', alt='President')
          .col.s12.m4
            img.responsive-img(src='images/avatar-large.jpg', alt='President')
          .col.s12.m4
            img.responsive-img(src='images/avatar-large.jpg', alt='President')
          .row
          .col.s12
            p Student Activity Center (SAC) is well equipped with indoor sport facilities and outdoo