---
title: Council for Student Affairs
---
div.main
  div.container
    div.section
      .row
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text#prez-name Name
                  .csa-role President 
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text#prez-phone Phone
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text#prez-email Email
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text#viceprez-name Name
                  .csa-role Vice President
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text#viceprez-phone Phone
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text#viceprez-email Email
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text#gensec-name Name
                  .csa-role General Secretary
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text#gensec-phone Phone
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text#gensec-email Email
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text#trez-name Name
                  .csa-role Treasurer
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text#trez-phone Phone
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text#trez-email Email
        
