---
title: Council for Student Affairs
---
div.main
  div.container
    div.section
      .row
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text Anmol Shrivastava
                  .csa-role President 
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text (91) 9876543210
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text prez@goa.bits-pilani.ac.in
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text Anmol Shrivastava
                  .csa-role President 
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text (91) 9876543210
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text prez@goa.bits-pilani.ac.in
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text Anmol Shrivastava
                  .csa-role President 
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text (91) 9876543210
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text prez@goa.bits-pilani.ac.in
        .col.s12.m12.l6
          .card-panel.grey.lighten-5.z-depth-1
              .valign-wrapper
                .col.s12.m5.l4
                  img.responsive-img(src='images/avatar-large.jpg', alt='President')
                |             
                .col.s12.m7.l8
                  h5.black-text Anmol Shrivastava
                  .csa-role President 
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-call.grey-text.small
                    span.black-text (91) 9876543210
                  .valign-wrapper.csa-contact-row
                    i.mdi-communication-email.grey-text.small
                    span.black-text prez@goa.bits-pilani.ac.in
        
