---
title: Student Welfare Division | BITS Pilani Goa
---
.main
  .container
      .section
          .row
            .col.s12
              h4 Notices
              |           
              ul.tabs
                li.tab.col.s3
                  a.active(href='#general-notices') General
                |             
                li.tab.col.s3
                  a(href='#archived-notices') Archived
            |         
            #general-notices.col.s12
              .row
                .col.s12.first-card(hidden='true')
                  .card.darken-1
                    .card-content
                      span.card-title.grey-text.text-darken-4.truncate Title
                      |  
                      |                   
                      span.grey-text.text-lighten-1.card-date Date
                    |    
                    .card-action
                      a.dl-link(href='#')(download='true') Download PDF
                      |                   
                      a.open-link.hide-on-small-only(href='#')(target="_blank") Open in New Tab
            |         
            #archived-notices.col.s12
              .row
            |      
        |     
