---
title: Search Student
---
div.main
    .container
        .section
        .section
            .row
                h4 Search
            .row
              form.search-form(onsubmit='searchWarden(); event.preventDefault(); event.stopPropagation();')
                .input-field.search-field(hidden='true')
                    input#search(type='text')
                    label(htmlfor='search') Search by name, ID, or hostel
        .section(hidden='true')#results-section
            .row
                h4 Search Result
            .preloader-container.center-align.padded-container#search-loading
                .preloader-wrapper.active
                    .spinner-layer.spinner-blue
                        .circle-clipper.left
                            .circle
                        .gap-path
                            .circle
                        .circle-clipper.right
                            .circle
                    .spinner-layer.spinner-green
                        .circle-clipper.left
                            .circle
                        .gap-path
                            .circle
                        .circle-clipper.right
                            .circle
                    .spinner-layer.spinner-yellow
                        .circle-clipper.left
                            .circle
                        .gap-path
                            .circle
                        .circle-clipper.right
                            .circle
                    .spinner-layer.spinner-red
                        .circle-clipper.left
                            .circle
                        .gap-path
                            .circle
                        .circle-clipper.right
                            .circle
            .row.search-result(hidden="true")
                ul.collapsible(data-collapsible="accordion")#results-list
                    li.search-result-template(hidden='true', onclick='setTimeout(function() { $(this).find("ul.tabs").tabs(); }.bind(this), 0); populateLeaves(this); populateDisco(this);')
                        .collapsible-header
                            .row.leftpad
                                .col.s12.m4.valign-wrapper
                                    .col.s12.valign
                                        .profile-content.bold.name Name
                                .col.s12.m4.valign-wrapper.hide-on-med-and-down
                                    .col.s1.valign
                                        i.mdi-action-payment.grey-text.text-lighten-1.profile-content-icon
                                    .col.s11.valign
                                        .profile-content.id ID
                                .col.s12.m4.valign-wrapper.hide-on-med-and-down
                                    .col.s1.valign
                                        i.mdi-maps-my-location.grey-text.text-lighten-1.profile-content-icon
                                    .col.s11.valign
                                        .profile-content.hostel Hostel
                        .collapsible-body
                            .grey.lighten-4.no-padding--mobile
                                .search-tabs
                                    .col.s12
                                        ul.tabs
                                            li.tab.col.s4
                                                a.profile-a.active Profile
                                            li.tab.col.s4
                                                a.leave-a Leave
                                            li.tab.col.s4
                                                a.dc-a DC
                                    .profile-tab.col.s12
                                        .collection.search-list--profile-contianer
                                            .col.s12.valign-wrapper.padded-container.white.top-padding--mobile.collection-item
                                                .col.s12.row.no-padding
                                                    h6.grey-text.text-lighten-1.search-list--header GENERAL INFORMATION
                                                    .col.s12.l3.hide-on-med-and-down
                                                            img.responsive-img(src='images/avatar-large.jpg', alt='President')
                                                    .col.s12.l9.no-padding--mobile
                                                        .row.leftpad.search-list--profile
                                                            .col.s12.valign-wrapper.no-padding
                                                                .col.12
                                                                    h5.name Name
                                                        .row.leftpad.search-list--profile
                                                            .col.s12.m6.valign-wrapper.no-padding
                                                                .col.s1.valign
                                                                    i.mdi-communication-call.blue-text.text-accent-2.profile-content-icon
                                                                .col.s11.valign
                                                                    .profile-content.phone Phone
                                                                    .profile-content.grey-text.text-lighten-1 Phone
                                                            .row.hide-on-large-only
                                                            .col.s12.m6.valign-wrapper.no-padding
                                                                .col.s1.valign
                                                                    i.mdi-communication-email.blue-text.text-accent-2.profile-content-icon
                                                                .col.s11.valign
                                                                    .profile-content.email Email
                                                                    .profile-content.grey-text.text-lighten-1 Email
                                                        .row.leftpad
                                                            .col.s12.m6.valign-wrapper.no-padding
                                                                .col.s1.valign
                                                                    i.mdi-communication-location-on.blue-text.text-accent-2.profile-content-icon
                                                                .col.s11.valign
                                                                    .profile-content.address Address
                                                                    .profile-content.grey-text.text-lighten-1 Address
                                                            .row.hide-on-large-only
                                                            .col.s12.m6.valign-wrapper.no-padding
                                                                .col.s1.valign
                                                                    i.mdi-action-assignment.blue-text.text-accent-2.profile-content-icon
                                                                .col.s11.valign
                                                                    .profile-content.cgpa CGPA
                                                                    .profile-content.grey-text.text-lighten-1 CGPA
                                            .col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item(hidden='true')
                                                .col.s12.no-padding
                                                    h6.grey-text.text-lighten-1.search-list--header ACHIEVEMENTS
                                                    .row.achievement-block.padded-container
                                                        .col.s12.valign-wrapper.no-padding
                                                                .col.s1.l1.valign.hide-on-med-and-down.achievenment-icon-container
                                                                    i.mdi-action-wallet-membership.cyan-text.text-lighten-1.profile-content-icon.medium
                                                                .col.s12.l11.profile-content.leftpad
                                                                    .col.s12.valign-wrapper.no-padding--mobile
                                                                        .col.s12.l8.valign.no-padding--mobile.achievement-title
                                                                            h5 Winner, Microsoft IDC Hackathon 2014
                                                                        .col.s12.l4.right-align.valign.hide-on-med-and-down
                                                                            a(href="#") View Certificate
                                                                    .col.s12.hide-on-large-only.no-padding--mobile
                                                                        .col.s12.l4.no-padding--mobile
                                                                            a(href="#") View Certificate
                                                                    .col.s12.grey-text.no-padding--mobile.hide-on-small-only
                                                                        .col.s12.no-padding--mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            .col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
                                                .col.s12.row.no-padding--mobile
                                                    h6.grey-text.text-lighten-1.search-list--header FATHER'S INFORMATION
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.father-name Name
                                                    .row.hide-on-large-only
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.father-phone Phone
                                                    .row.hide-on-large-only
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.father-email Email
                                            .col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
                                                .col.s12.row.no-padding--mobile
                                                    h6.grey-text.text-lighten-1.search-list--header MOTHER'S INFORMATION
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.mother-name Name
                                                    .row.hide-on-large-only
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.mother-phone Phone
                                                    .row.hide-on-large-only
                                                    .col.s12.m4.valign-wrapper.no-padding
                                                        .col.s1.valign
                                                            i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                                                        .col.s11.valign
                                                            .profile-content.mother-email Email
                                                    .col.s12.m4.valign-wrapper.no-padding
                                            .row.hide-on-med-and-up
                                    .leave-tab.col.s12(style="display: none;")
                                        .white.collection.search-list--leave-contianer.leave-list
                                            .row.hide-on-med-and-down
                                            .col.s12.leftpad.collection-item.no-padding--mobile.hide-on-med-and-down
                                                h5.grey-text.text-lighten-1.search-list--header Total Leave Count:
                                                        span.leftpad.black-text.leave-count Count
                                                        span &nbsp;
                                                        span.days (Days)
                                            .col.s12.padded-container.collection-item.top-padding--mobile.leave-item-template(hidden='true')
                                                .row
                                                    .col.s6.m3
                                                        span.grey-text.text-lighten-1 LEAVE ID
                                                            br
                                                        strong.leave-id ID
                                                    .col.s6.m3
                                                        span.grey-text.text-lighten-1 STATUS
                                                            br
                                                        span.status Status
                                                    .row.hide-on-large-only
                                                    .col.s6.m3
                                                        span.grey-text.text-lighten-1 START DATE
                                                            br
                                                        span.start Start
                                                    .col.s6.m3
                                                        span.grey-text.text-lighten-1 END DATE
                                                            br
                                                        span.end End
                                                .row
                                                    .col.s12.m6
                                                        span.grey-text.text-lighten-1 ADDRESS
                                                            br
                                                        span.address Address
                                                    .row.hide-on-large-only
                                                    .col.s12.m3
                                                        span.grey-text.text-lighten-1 REASON
                                                            br
                                                        span.reason Reason
                                                    .row.hide-on-large-only
                                                    .col.s12.m3
                                                        span.grey-text.text-lighten-1 CONSENT TYPE
                                                            br
                                                        span.consent Consent
                                    .dc-tab.col.s12(style="display: none;")
                                        .white.collection.search-list--profile-contianer.dc-list
                                            .col.s12.leftpad.collection-item.no-padding--mobile.no-dc-cases(hidden='true')
                                                h5.text-lighten-1.search-list--header No DC Cases
                                            .col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item.dc-item-template(hidden='true')
                                                .row.disco-block.padded-container.no-padding--mobile
                                                    .col.s12.valign-wrapper.no-padding
                                                            .col.s1.l1.valign.hide-on-med-and-down.disco-icon-container
                                                                i.mdi-alert-warning.text-lighten-1.profile-content-icon.medium.icon
                                                            .col.s12.l11.profile-content.leftpad
                                                                .col.s12.valign-wrapper.no-padding--mobile
                                                                    .col.s12.l8.valign.no-padding--mobile.disco-title
                                                                        h5.title Disco Notice Heading
                                                                    .col.s12.l4.right-align.valign.hide-on-small-only
                                                                        p.padded-container--less.grey-text.text-lighten-1.date Date
                                                                .col.s12.hide-on-med-and-up.no-padding--mobile
                                                                    .col.s12.l4.no-padding--mobile
                                                                        p.padded-container--less.grey-text.text-lighten-1.no-padding--mobile.date Date
                                                                .col.s12.grey-text.no-padding--mobile
                                                                    .col.s12.no-padding--mobile.top-padding--mobile
                                                                        span.bold Action Taken:
                                                                        span.leftpad.action Action
        .section(hidden='true')#no-results-section
            .row
              h4 No Results :(



script(src='scripts/search.js')
