---
title: Search Student
---
div.main
	.container
		.section
			.row
				h4 Search Result
			.row.search-result
				ul.collapsible(data-collapsible="accordion")
					li
						.collapsible-header
							.row.leftpad
								.col.s12.m4.valign-wrapper
									.col.s12.valign
										.profile-content.bold Jonathon Doe
								.col.s12.m4.valign-wrapper.hide-on-med-and-down
									.col.s1.valign
										i.mdi-action-payment.grey-text.text-lighten-1.profile-content-icon
									.col.s11.valign
										.profile-content 2008A7PS012G
								.col.s12.m4.valign-wrapper.hide-on-med-and-down
									.col.s1.valign
										i.mdi-maps-my-location.grey-text.text-lighten-1.profile-content-icon
									.col.s11.valign
										.profile-content 123, CH-1
						.collapsible-body
							.grey.lighten-4.no-padding--mobile
								.search-tabs
									.col.s12
										ul.tabs
											li.tab.col.s4
												a(href="#profile") Profile
											li.tab.col.s4
												a(href="#leave") Leave
											li.tab.col.s4
												a(href="#dc") DC
									#profile.col.s12
										.collection.search-list--profile-contianer
											.col.s12.valign-wrapper.padded-container.white.top-padding--mobile.collection-item
												.col.s12.row.no-padding
													h6.grey-text.text-lighten-1.search-list--header GENERAL INFORMATION
													.col.s12.l3.hide-on-med-and-down
															img.responsive-img(src='images/avatar-large.jpg', alt='President')
													.col.s12.l9.no-padding--mobile
														.row.leftpad.search-list--profile
															.col.s12.valign-wrapper.no-padding
																.col.12
																	h5 Jonathon Jane Doe
														.row.leftpad.search-list--profile
															.col.s12.m6.valign-wrapper.no-padding
																.col.s1.valign
																	i.mdi-communication-call.blue-text.text-accent-2.profile-content-icon
																.col.s11.valign
																	.profile-content 9877774444
																		.grey-text.text-lighten-1 Mobile
															.row.hide-on-large-only
															.col.s12.m6.valign-wrapper.no-padding
																.col.s1.valign
																	i.mdi-communication-email.blue-text.text-accent-2.profile-content-icon
																.col.s11.valign
																	.profile-content john@gmail.com
																		.grey-text.text-lighten-1 Primary
														.row.leftpad
															.col.s12.m6.valign-wrapper.no-padding
																.col.s1.valign
																	i.mdi-communication-location-on.blue-text.text-accent-2.profile-content-icon
																.col.s11.valign
																	.profile-content NH 17B Bypass Road, Zuarinagar
																		.grey-text.text-lighten-1 Sancoale, Goa 403726
															.row.hide-on-large-only
															.col.s12.m6.valign-wrapper.no-padding
																.col.s1.valign
																	i.mdi-action-assignment.blue-text.text-accent-2.profile-content-icon
																.col.s11.valign
																	.profile-content 8.98
																		.grey-text.text-lighten-1 CGPA
											.col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
												.col.s12.no-padding
													h6.grey-text.text-lighten-1.search-list--header ACHIEVEMENTS
													.row.achievement-block.padded-container
														.col.s12.valign-wrapper.no-padding
																.col.s1.l1.valign.hide-on-med-and-down.achievenment-icon-container
																	i.mdi-action-wallet-membership.cyan-text.text-lighten-1.profile-content-icon.medium
																.col.s12.l11.profile-content.leftpad
																	.col.s12.valign-wrapper.no-padding--mobile
																		.col.s12.l8.valign.no-padding--mobile.achievement-title
																			h5 Winner, Microsoft IDC Hackathon 2014
																		.col.s12.l4.right-align.valign.hide-on-med-and-down
																			a(href="#") View Certificate
																	.col.s12.hide-on-large-only.no-padding--mobile
																		.col.s12.l4.no-padding--mobile
																			a(href="#") View Certificate
																	.col.s12.grey-text.no-padding--mobile.hide-on-small-only
																		.col.s12.no-padding--mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											.col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
												.col.s12.row.no-padding--mobile
													h6.grey-text.text-lighten-1.search-list--header FATHER'S INFORMATION
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content Jonathon Doe Sr.
													.row.hide-on-large-only
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content 9877774444
													.row.hide-on-large-only
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-communication-business.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content 9877774444
											.col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
												.col.s12.row.no-padding--mobile
													h6.grey-text.text-lighten-1.search-list--header MOTHER'S INFORMATION
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content Jane Smith Doe
													.row.hide-on-large-only
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content 9877774444
													.row.hide-on-large-only
													.col.s12.m4.valign-wrapper.no-padding
														.col.s1.valign
															i.mdi-communication-business.grey-text.text-lighten-1.profile-content-icon
														.col.s11.valign
															.profile-content 9877774444
													.col.s12.m4.valign-wrapper.no-padding
											.row.hide-on-med-and-up
									#leave.col.s12
										.white.collection.search-list--leave-contianer
											.row.hide-on-med-and-down
											.col.s12.leftpad.collection-item.no-padding--mobile.hide-on-med-and-down
												h5.grey-text.text-lighten-1.search-list--header Total Leave Count:
														span.leftpad.black-text 18&nbsp;
														soan (11H, 7W)
											.col.s12.padded-container.collection-item.top-padding--mobile
												.row
													.col.s6.m3
														span.grey-text.text-lighten-1 LEAVE ID
															br
														strong 5540
													.col.s6.m3
														span.grey-text.text-lighten-1 STATUS
															br
														span.green-text Approved
													.row.hide-on-large-only
													.col.s6.m3
														span.grey-text.text-lighten-1 START DATE
															br
														span 21 March, 2015
													.col.s6.m3
														span.grey-text.text-lighten-1 END DATE
															br
														span 21 March, 2015
												.row
													.col.s12.m6
														span.grey-text.text-lighten-1 ADDRESS
															br
														span NH 17B Bypass Road, Zuarinagar, Sancoale, Goa 403726
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 REASON
															br
														span Family function at home.
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 CONSENT TYPE
															br
														span Email
											.col.s12.padded-container.collection-item.top-padding--mobile
												.row
													.col.s6.m3
														span.grey-text.text-lighten-1 LEAVE ID
															br
														strong 5540
													.col.s6.m3
														span.grey-text.text-lighten-1 STATUS
															br
														span.green-text Approved
													.row.hide-on-large-only
													.col.s6.m3
														span.grey-text.text-lighten-1 START DATE
															br
														span 21 March, 2015
													.col.s6.m3
														span.grey-text.text-lighten-1 END DATE
															br
														span 21 March, 2015
												.row
													.col.s12.m6
														span.grey-text.text-lighten-1 ADDRESS
															br
														span NH 17B Bypass Road, Zuarinagar, Sancoale, Goa 403726
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 REASON
															br
														span Family function at home.
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 CONSENT TYPE
															br
														span Email
											.col.s12.padded-container.collection-item.top-padding--mobile
												.row
													.col.s6.m3
														span.grey-text.text-lighten-1 LEAVE ID
															br
														strong 5540
													.col.s6.m3
														span.grey-text.text-lighten-1 STATUS
															br
														span.green-text Approved
													.row.hide-on-large-only
													.col.s6.m3
														span.grey-text.text-lighten-1 START DATE
															br
														span 21 March, 2015
													.col.s6.m3
														span.grey-text.text-lighten-1 END DATE
															br
														span 21 March, 2015
												.row
													.col.s12.m6
														span.grey-text.text-lighten-1 ADDRESS
															br
														span NH 17B Bypass Road, Zuarinagar, Sancoale, Goa 403726
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 REASON
															br
														span Family function at home.
													.row.hide-on-large-only
													.col.s12.m3
														span.grey-text.text-lighten-1 CONSENT TYPE
															br
														span Email
									#dc.col.s12
										.collection.search-list--profile-contianer
											.col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
												.row.disco-block.padded-container.no-padding--mobile
													.col.s12.valign-wrapper.no-padding
															.col.s1.l1.valign.hide-on-med-and-down.disco-icon-container
																i.mdi-alert-warning.red-text.text-lighten-1.profile-content-icon.medium
															.col.s12.l11.profile-content.leftpad
																.col.s12.valign-wrapper.no-padding--mobile
																	.col.s12.l8.valign.no-padding--mobile.disco-title
																		h5 Disco Notice Heading
																	.col.s12.l4.right-align.valign.hide-on-small-only
																		p.padded-container--less.grey-text.text-lighten-1 20 March 2009
																.col.s12.hide-on-med-and-up.no-padding--mobile
																	.col.s12.l4.no-padding--mobile
																		p.padded-container--less.grey-text.text-lighten-1.no-padding--mobile 20 March 2009
																.col.s12.grey-text.no-padding--mobile
																	.col.s12.no-padding--mobile.top-padding--mobile
																		span.bold Action Taken:
																		span.leftpad Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod temporaliqua.
											.col.s12.leftpad.padded-container.white.top-padding--mobile.collection-item
												.row.disco-block.padded-container.no-padding--mobile
													.col.s12.valign-wrapper.no-padding
															.col.s1.l1.valign.hide-on-med-and-down.disco-icon-container
																i.mdi-alert-warning.yellow-text.text-lighten-2.profile-content-icon.medium
															.col.s12.l11.profile-content.leftpad
																.col.s12.valign-wrapper.no-padding--mobile
																	.col.s12.l8.valign.no-padding--mobile.disco-title
																		h5 Disco Notice Heading
																	.col.s12.l4.right-align.valign.hide-on-med-and-down
																		p.padded-container--less.grey-text.text-lighten-1 12 February 2008
																.col.s12.hide-on-large-only.no-padding--mobile
																	.col.s12.l4.no-padding--mobile
																		p.padded-container--less.grey-text.text-lighten-1.no-padding--mobile 12 February 2008
																.col.s12.grey-text.no-padding--mobile
																	.col.s12.no-padding--mobile.top-padding--mobile
																		span.bold Action Taken:
																		span.leftpad Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod temporaliqua.
