---
title: Welcome, Staff
---
.main
	.container
		.section
			.row
				h4 Profile
			.row.padded-container.white.z-depth-1.no-padding--mobile
				.col.s12.l4.hide-on-med-and-down
					img.responsive-img(src='images/avatar-large.jpg', alt='President')
				.col.s12.l8.top-padding--mobile
					.row.leftpad
						.col.s12
							h5.profile-name#profile-name Name
						.row
							.col.s12.l6.valign-wrapper
								.col.s1.valign
									i.mdi-action-waller-giftcard.grey-text.text-lighten-1.profile-content-icon
								.col.s11.valign
									.profile-content#profile-bday Birthday
							.row.hide-on-large-only
							
