---
title: Certificates
---
.main
	.container
		.section
			.row
			.row
				.col.s12
					ul.tabs
						li.tab.col.s4
							a(href="#bonafide").active Bonafide
						li.tab.col.s4
							a(href="#feestructure").active Fee Structure
				#bonafide
					.row.padded-container
						.col.s12
							.card.white
								.card-content
									span.card-title.black-text Ravi Agrawal
									span.grey-text.text-lighten-1.certificate-date 24 Mar 2015
									.row.hide-on-small-only
									.row.certificate-details.no-margin--bottom
										.col.s12.m4
											strong.grey-text.text-lighten-1 ID
											span.leftpad 2012A7PS046G
										.col.s12.m4
											strong.grey-text.text-lighten-1 Hostel
											span.leftpad 106, AH-4
										.col.s12.certificate-details--reason
											strong.grey-text.text-lighten-1 Reason
											span.leftpad I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
								.row.no-margin--bottom
									.col.s5.hide-on-small-only
										a.btn-flat.waves-effect.blue-text.text-lighten-1(href="#!")
											i.mdi-action-print.left
											span.hide-on-small-only Print Bonafide
									.col.s12.m7.right-align
										a.hide-on-med-and-down.btn-flat.waves-effect.grey-text(href="#!")
											i.mdi-action-print.left.text-darken-2
											span Print Duplicate
										a.btn-flat.waves-effect.red-text.no-padding(href="#!")
											i.mdi-action-delete.hide-on-small-only.left
											span Delete
										a.hide-on-med-and-up.btn-flat.waves-effect.no-padding.blue-text.text-lighten-1(href="#!")
											span Print
						.col.s12
							.card.white
								.card-content
									span.card-title.black-text Ravi Agrawal
									span.grey-text.text-lighten-1.certificate-date 24 Mar 2015
									.row.hide-on-small-only
									.row.certificate-details.no-margin--bottom
										.col.s12.m4
											strong.grey-text.text-lighten-1 ID
											span.leftpad 2012A7PS046G
										.col.s12.m4
											strong.grey-text.text-lighten-1 Hostel
											span.leftpad 106, AH-4
										.col.s12.certificate-details--reason
											strong.grey-text.text-lighten-1 Reason
											span.leftpad I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
								.row.no-margin--bottom
									.col.s5.hide-on-small-only
										a.btn-flat.waves-effect.blue-text.text-lighten-1(href="#!")
											i.mdi-action-print.left
											span.hide-on-small-only Print Bonafide
									.col.s12.m7.right-align
										a.hide-on-med-and-down.btn-flat.waves-effect.grey-text(href="#!")
											i.mdi-action-print.left.text-darken-2
											span Print Duplicate
										a.btn-flat.waves-effect.red-text.no-padding(href="#!")
											i.mdi-action-delete.hide-on-small-only.left
											span Delete
										a.hide-on-med-and-up.btn-flat.waves-effect.no-padding.blue-text.text-lighten-1(href="#!")
											span Print

