---
title: Mess Option
---
div.main
	div.container
		div.section
			.row
				h4 Mess Option Open
			.row
				.col.s12.white.z-depth-1.padded-container
					p.larger-font The mess option for the months of April and May is open now and you may choose your option below.
					form(action='#')
						br
						.col.s12
							h5
								input#amess.orange(name='group1', type='radio')   
								label.larger-font.orange-text(for='amess') A Dining Hall
						br
						br
						br
						.col.s12
							h5
								input#cmess.orange(name='group1', type='radio')   
								label.larger-font.orange-text(for='cmess') C Dining Hall
						.col.s12
							br
							br
							a.waves-effect.waves-light.btn.orange.darken-2(href="#") Submit
		div.section
			.row
				h4 Alloted Mess
			.row
				.col.s12.white.z-depth-1.padded-container
					h5 You have currently been alloted <strong>C Mess</strong> for the month of March. 