---
title: Leave Portal
---
div.main
  div.container
    div.section
      .row
        h4 Apply for Leave
      .row
        .col.s12.white.z-depth-1.no-padding
          .col.s12
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .col.s12
            br

            form.col.s12
              .row
                .input-field.col.s12.m6
                  input#start-date.validate.datepicker(type='date')                        
                  label.active(htmlfor='dob') Start Date
                .input-field.col.s12.m6
                  input#end-date.validate.datepicker(type='date')                        
                  label.active(htmlfor='dob') End Date
                .input-field.col.s6.m3
                  label Start time
                    select
                      option(value='1' selected='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3
                  label 
                    select
                      option(value='1' selected='' disabled='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3
                  label End time
                    select
                      option(value='1' selected='' disabled='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3
                  br
                  
                  select
                    option(value='1' selected='' disabled='') Option 1
                    option(value='2') Option 2
                    option(value='3') Option 3
                br
                br
                .input-field.col.s6.leave-input
                  input#start-date.validate.datepicker(type='date')                        
                  label.active(htmlfor='dob') Start Date
                .input-field.col.s6.leave-input
                  input#end-date.validate.datepicker(type='date')                        
                  label.active(htmlfor='dob') End Date
            br

                 
