---
title: Waves Passes & T-Shirts
---
div.main
	div.container
		div.section
			.row
				h4 Waves Nights Pass
			.row
				.col.s12.white.z-depth-1.no-padding
					img.col.s12.m8.no-padding.responsive-img(src='http://placehold.it/800x350')
					.col.s12.m4
						.col.s12
							p.larger-font This waves, experience the best of English and Bollywood artists with 
								strong Baiju Dharmajan Syndicate, 
								strong Shankar Mahadevan 
								span and 
								strong Candice Redding. 
								span Watch all these artists live just for Rs. 900. We hope you have a great time at Waves 2014.
							form(action='#')
								p
									input#night-pass(type='checkbox')
									label.larger-font(for='night-pass') Buy passes for Rs.900
		div.section
			.row
				h4 Waves Main Tee
			.row
				.col.s12.white.z-depth-1.no-padding
					img.col.s12.m8.no-padding.responsive-img(src='http://placehold.it/800x500')
					.col.s12.m4
						.col.s12
							p.larger-font Made with love by Department of Creative Media, this tshirt depicts the carnivalism in mayhem, and how to embrace it.
							p.larger-font.bold Price: Rs. 300.
							form(action='#')
								.row
									.input-field.col.s12.m4
										input#smalltee.validate.bold(type='number')
										label(htmlFor='smalltee') Small
									.input-field.col.s12.m4
										input#mediumtee.validate.bold(type='number')
										label(htmlFor='mediumtee') Medium
									.input-field.col.s12.m4
										input#largetee.validate.bold(type='number')
										label(htmlFor='largetee') Large
								.row
									.input-field.col.s12.m4
										input#xlargetee.validate.bold(type='number')
										label(htmlFor='xlargetee') X Large
									.input-field.col.s12.m4
										input#xxlargetee.validate.bold(type='number')
										label(htmlFor='xxlargetee') XX Large
		div.section
			.row
				h4 Waves Main Tee
			.row
				.col.s12.white.z-depth-1.no-padding
					img.col.s12.m8.no-padding.responsive-img(src='http://placehold.it/800x500')
					.col.s12.m4
						.col.s12
							p.larger-font Made with love by Department of Creative Media, this tshirt depicts the carnivalism in mayhem, and how to embrace it.
							p.larger-font.bold Price: Rs. 300.
							form(action='#')
								.row
									.input-field.col.s12.m4
										input#smalltee.validate.bold(type='number')
										label(htmlFor='smalltee') Small
									.input-field.col.s12.m4
										input#mediumtee.validate.bold(type='number')
										label(htmlFor='mediumtee') Medium
									.input-field.col.s12.m4
										input#largetee.validate.bold(type='number')
										label(htmlFor='largetee') Large
								.row
									.input-field.col.s12.m4
										input#xlargetee.validate.bold(type='number')
										label(htmlFor='xlargetee') X Large
									.input-field.col.s12.m4
										input#xxlargetee.validate.bold(type='number')
										label(htmlFor='xxlargetee') XX Large
		div.section
			.row
				h4 Waves Main Tee
			.row
				.col.s12.white.z-depth-1.no-padding
					img.col.s12.m8.no-padding.responsive-img(src='http://placehold.it/800x500')
					.col.s12.m4
						.col.s12
							p.larger-font Made with love by Department of Creative Media, this tshirt depicts the carnivalism in mayhem, and how to embrace it.
							p.larger-font.bold Price: Rs. 300.
							form(action='#')
								.row
									.input-field.col.s12.m4
										input#smalltee.validate.bold(type='number')
										label(htmlFor='smalltee') Small
									.input-field.col.s12.m4
										input#mediumtee.validate.bold(type='number')
										label(htmlFor='mediumtee') Medium
									.input-field.col.s12.m4
										input#largetee.validate.bold(type='number')
										label(htmlFor='largetee') Large
								.row
									.input-field.col.s12.m4
										input#xlargetee.validate.bold(type='number')
										label(htmlFor='xlargetee') X Large
									.input-field.col.s12.m4
										input#xxlargetee.validate.bold(type='number')
										label(htmlFor='xxlargetee') XX Large
			div.section
				.row
					h4 Complete Your Order
				.row
					.col.s12.white.z-depth-1.padded-container.valign-wrapper
						p.col.s12.m9.larger-font.valign Total amount to be paid: 
							strong Rs. 1850.
						.col.s12.m3.valign
							br
							a.waves-effect.waves-light.orange.darken-2.btn Submit Order

								