---
title: Welcome, John Doe
---
.main
  .container
    .section
      .row
        h4 Profile
      .row
        .col.s12.padded-container.white.z-depth-1.no-padding--mobile.centre-align
          .col.s12.m6.l4.no-padding--mobile
            img.responsive-img(src='images/avatar-large.jpg', alt='President')
          .col.s12.m6.l8.top-padding--mobile
            .row.leftpad
              .col.s10.m11
                h5.profile-name Jonathon Doe
              .col.s1.m1
                a.waves-effect.waves-orange.btn-flat.modal-trigger.no-padding(href="#profile-update-modal")
                  i.mdi-editor-mode-edit.red-text.right-align
                #profile-update-modal.modal
                  .modal-content
                    .row.center-align
                      h4 Update Profile                 
                    form.col.s12
                      .row
                        .input-field.col.s12
                          input#dob.validate.datepicker(type='date')                        
                          label.active(htmlfor='dob') Date of Birth                     
                        .input-field.col.s12
                          input#address.validate(type='text')                           
                          label(htmlfor='address') Permanent Address
                        .input-field.col.s12
                          input#profile-contact.validate(type='text')                           
                          label(htmlfor='profile-contact') Contact Number
                        .input-field.col.s12
                          input#profile-email.validate(type='email')                           
                          label(htmlfor='profile-email') Email Address         
                  .modal-footer
                    a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel                  
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-action-payment.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content 2012A7PS046G
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-action-wallet-giftcard.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content 30 January 1995
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-maps-my-location.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content #106, AH-4
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-communication-location-on.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content.profile-content--location 1147, C1, Vasant Kunj, New Delhi 100330
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content (91) 9XXX XXX XXX
              .col.s12.l6.profile-block
                .col.s1
                  i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content johndoe@gmail.com              
    .section
      .row
        h4 Parental Information
      .row
        .col.s12.padded-container.white.z-depth-1.no-padding--mobile
          .col.s12.top-padding--mobile
            .row.leftpad
              .col.s9.m11
                h5.profile-name Jonathon Doe
              .col.s1.m1
                a.waves-effect.waves-orange.btn-flat.modal-trigger.right-align(href="#parent-update-modal--father")
                  i.mdi-editor-mode-edit.red-text
                #parent-update-modal--father.modal
                  .modal-content
                    .row.center-align
                      h4 Update Father's Information                 
                    form.col.s12
                      .row                    
                        .input-field.col.s12
                          input#parent-name.validate(type='text')                           
                          label(htmlfor='parent-name') Name
                        .input-field.col.s12
                          input#parent-contact.validate(type='text')                           
                          label(htmlfor='parent-contact') Contact Number
                        .input-field.col.s12
                          input#parent-email.validate(type='email')                           
                          label(htmlfor='parent-email') Email Address         
                  .modal-footer
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel                  
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content Jane Doe Smith
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content (91) 9XXX XXX XXX
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content johndoe@gmail.com
        .col.s12.padded-container.white.z-depth-1
          .col.s12.top-padding--mobile
            .row.leftpad
              .col.s9.m11
                h5.profile-name Jane Doe
              .col.s1.m1.right-align
                a.waves-effect.waves-orange.btn-flat.modal-trigger(href="#parent-update-modal--mother")
                  i.mdi-editor-mode-edit.red-text
                #parent-update-modal--mother.modal
                  .modal-content
                    .row.center-align
                      h4 Update Mother's Information                 
                    form.col.s12
                      .row                    
                        .input-field.col.s12
                          input#parent-name.validate(type='text')                           
                          label(htmlfor='parent-name') Name
                        .input-field.col.s12
                          input#parent-contact.validate(type='text')                           
                          label(htmlfor='parent-contact') Contact Number
                        .input-field.col.s12
                          input#parent-email.validate(type='email')                           
                          label(htmlfor='parent-email') Email Address         
                  .modal-footer
                    a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel                  
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content Jane Doe Smith
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content (91) 9XXX XXX XXX
              .col.s12.l4.profile-block
                .col.s1
                  i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                .col.s11
                  .profile-content johndoe@gmail.com
          


