---
title: Due Details
---
div.main
	div.container
		div.section
			.row
				h4 Note
			.row
				.col.s12.white.z-depth-1.padded-container
					p.larger-font The miscallaneous fee is comprised of:
					p.leftpad.larger-font <strong>Rs. 86</strong> daily for breakfast, lunch and dinner.
					p.leftpad.larger-font <strong>Rs. 22</strong> daily for electricity, water supply, housekeeping and security.
		div.section
			.row
				h4 Details for 1st Semester 2014-15
			.row
				.col.s12.white.z-depth-1.padded-container
					table.bordered.hoverable
						thead
							tr
								td.bold(data-field='category') Category
								td.bold(data-field='credit') Credit (in rupees)
								td.bold(data-field='debit') Debit (in rupees)
						tbody#dues-tbody
							tr.due-entry-template(hidden='true')
								td.desc
								td.credit -
								td.debit -
					br
					p.grey-text The balance is refunded every subsequent semester. In case of any descrepency, please report it to SWD Office at the earliest.  
