---
title: Mess Option
---
div.main
	div.container
		div.section(hidden='true')#mess-open-section
			.row
				h4 Mess Option Open
			.row
				.col.s12.white.z-depth-1.padded-container
					p.larger-font#next-month The mess option for {MONTH} is open. Choose your option below.
					form(action='#')
						br
						.col.s12
							h5
								input#amess.orange(name='group1', type='radio')   
								label.larger-font.orange-text(for='amess') A Dining Hall
						br
						br
						br
						.col.s12
							h5
								input#cmess.orange(name='group1', type='radio')   
								label.larger-font.orange-text(for='cmess') C Dining Hall
						.col.s12
							br
							br
							a.waves-effect.waves-light.btn.orange.darken-2(href="#")#mess-submit Submit
		div.section(hidden='true')#mess-closed-section
			.row
				h4 Mess Option Closed
		div.section#allotted-section(hidden='true')
			.row
				h4 Currently Alloted Mess
			.row
				.col.s12.white.z-depth-1.padded-container
					h5#allotted You have currently been alloted {MESS} for {MONTH}.
		div.section(hidden='true')#mess-chosen-section
			.row
				h4 Mess Chosen for Next Month
			.row
				.col.s12.white.z-depth-1.padded-container
					h5#chosen You have currently chosen {MESS} for {MONTH}.
