---
title: Welcome, John Doe
---
div.main
  .container
    .section
      .row
        h4 Profile
      .row
        .col.s12.padded-container.white.z-depth-1.no-padding--mobile.centre-align
          .col.s12.l4.hide-on-med-and-down
            img.responsive-img(src='images/avatar-large.jpg', alt='President')
          .col.s12.l8.top-padding--mobile
            .row.leftpad
              .col.s10.m10.l11
                h5.profile-name#profile-name test
              .col.s1.m1
                a.waves-effect.waves-orange.btn-flat.modal-trigger.no-padding(href="#profile-update-modal")
                  i.mdi-editor-mode-edit.red-text
                #profile-update-modal.modal
                  .modal-content
                    .row.center-align
                      h5 Update Profile
                    form.col.s12
                      .row
                        .input-field.col.s12
                          input#dob.validate.datepicker(type='date')
                          label.active(htmlfor='dob') Date of Birth
                        .input-field.col.s12
                          input#address.validate(type='text')
                          label(htmlfor='address') Permanent Address
                        .input-field.col.s12
                          input#profile-contact.validate(type='text')
                          label(htmlfor='profile-contact') Contact Number
                        .input-field.col.s12
                          input#profile-email.validate(type='email')
                          label(htmlfor='profile-email') Email Address
                  .modal-footer
                    a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel
              .row
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-action-payment.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content#profile-id
                .row.hide-on-large-only
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-action-wallet-giftcard.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content#profile-bday
              .row
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-maps-my-location.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content#profile-hostel
                .row.hide-on-large-only
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-communication-location-on.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content.profile-content--location#profile-addr
              .row
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content#profile-phone
                .row.hide-on-large-only
                .col.s12.l6.valign-wrapper
                  .col.s1.valign
                    i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                  .col.s11.valign
                    .profile-content#profile-email
    .section
      .row
        h4 Parental Information
      .row
        .col.s12.padded-container.white.z-depth-1.no-padding--mobile
          .col.s12.top-padding--mobile
            .row.leftpad
              .col.s9.l11
                h5.profile-name Venkatesh Prasad Swami Chaada Singh SOnu
              .col.s1
                a.waves-effect.waves-orange.btn-flat.modal-trigger(href="#parent-update-modal--father")
                  i.mdi-editor-mode-edit.red-text
                #parent-update-modal--father.modal
                  .modal-content
                    .row.center-align
                      h5 Update Father's Details
                    form.col.s12
                      .row
                        .input-field.col.s12
                          input#parent-name.validate(type='text')
                          label(htmlfor='parent-name') Name
                        .input-field.col.s12
                          input#parent-contact.validate(type='text')
                          label(htmlfor='parent-contact') Contact Number
                        .input-field.col.s12
                          input#parent-email.validate(type='email')
                          label(htmlfor='parent-email') Email Address
                  .modal-footer
                    a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel
                  .row.hide-on-large-only
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content Jane Doe Smith
              .row.hide-on-large-only
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content (91) 9XXX XXX XXX
              .row.hide-on-large-only
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content johndoe@gmail.com
        .col.s12.padded-container.white.z-depth-1.no-padding--mobile
          .col.s12.top-padding--mobile
            .row.leftpad
              .col.s9.l11
                h5.profile-name Jane Doe
              .col.s1
                a.waves-effect.waves-orange.btn-flat.modal-trigger(href="#parent-update-modal--mother")
                  i.mdi-editor-mode-edit.red-text
                #parent-update-modal--mother.modal
                  .modal-content
                    .row.center-align
                      h5 Update Mother's Details
                    form.col.s12
                      .row
                        .input-field.col.s12
                          input#parent-name.validate(type='text')
                          label(htmlfor='parent-name') Name
                        .input-field.col.s12
                          input#parent-contact.validate(type='text')
                          label(htmlfor='parent-contact') Contact Number
                        .input-field.col.s12
                          input#parent-email.validate(type='email')
                          label(htmlfor='parent-email') Email Address
                  .modal-footer
                    a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='/student') Update
                    a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='/student') Cancel
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-action-account-box.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content Jane Doe Smith
              .row.hide-on-large-only
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-communication-call.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content (91) 9XXX XXX XXX
              .row.hide-on-large-only
              .col.s12.l4.valign-wrapper
                .col.s1.valign
                  i.mdi-communication-email.grey-text.text-lighten-1.profile-content-icon
                .col.s11.valign
                  .profile-content johndoe@gmail.com

