---
title: Leave Portal
---
div.main
  div.container
    div.section
      .fixed-action-btn.leave-add-btn
        a.btn-floating.btn-large.orange.darken-2.modal-trigger.no-padding(href="#add-leave-modal")
          i.mdi-content-add
        #add-leave-modal.modal
          .modal-content
            .row.center-align
              h4 Apply For Leave                 
            form.col.s12
              .row
                .input-field.col.s12.m6
                  input#start-date.validate.datepicker(type='date')                        
                  label(htmlfor='start-date') Start Date
                .input-field.col.s12.m6
                  input#end-date.validate.datepicker(type='date')                        
                  label(htmlfor='end-date') End Date
                .input-field.col.s6.m3
                  label Start time (HOURS)
                    select
                      option(value='1' selected='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3
                  label Start time (MINUTES)
                    select
                      option(value='1' selected='' disabled='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3.leave-input--mobile
                  label End time (HOURS)
                    select
                      option(value='1' selected='' disabled='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                .input-field.col.s6.m3.leave-input--mobile
                  label End time (MINUTES)
                    select 
                      option(value='1' selected='' disabled='') Option 1
                      option(value='2') Option 2
                      option(value='3') Option 3
                br
                br
                .input-field.col.s12.m6.leave-input.leave-input--mobile
                  input#reason.validate(type='text')                           
                  label(htmlfor='reason') Reason
                .input-field.col.s12.m6.leave-input.leave-input--less-mobile
                  input#contact.validate(type='text')                           
                  label(htmlfor='contact') Contact
                .input-field.col.m6.s12
                  textarea#textarea1.materialize-textarea
                  label(for='textarea1') Temporary Address
                .input-field.col.m6.s12
                  label Consent Type
                    select 
                      option(value='1' selected='') Email 
                      option(value='2') Fax
                      option(value='3') Letter        
          .modal-footer
            a.waves-effect.waves-orange.btn-flat.modal-action.modal-close(href='#') Apply
            a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href='#') Cancel
    .div.section#no-leaves
      .row
        h4 No Leave Records to Show
    .div.section#current-leave(hidden='true')
      .row
        h4 Current Leave Status
      .row
        .col.s12.white.z-depth-1
          .col.s12.valign-wrapper
            .col.s12.m1.hidden-on-mobile-only.approved-tick(hidden='true')
              i.mdi-action-done.green-text.medium
            .col.s12.m1.hidden-on-mobile-only.denied-tick(hidden='true')
              i.mdi-content-clear.red-text.medium
            .col.s12.m11.approved-text(hidden='true')
              h5.leftpad The warden has <strong>approved</strong> your leave.
            .col.s12.m11.denied-text(hidden='true')
              h5.leftpad The warden has <strong>denied</strong> your leave.
          .col.s12.padded-container.collection-item#leave-template
            .row
              .col.s12.m3
                span.grey-text.text-lighten-1 LEAVE ID
                  br
                strong.leave-id Leave ID
              .col.s12.m3
                span.grey-text.text-lighten-1 STATUS
                  br
                span.status Status
              .col.s6.m3
                span.grey-text.text-lighten-1 START DATE
                  br
                span.start-date Start Date
              .col.s6.m3
                span.grey-text.text-lighten-1 END DATE
                  br
                span.end-date End date
            .row
              .col.s12.m6
                span.grey-text.text-lighten-1 ADDRESS
                  br
                span.address Address
              .col.s12.m3
                span.grey-text.text-lighten-1 REASON
                  br
                span.reason Reason
              .col.s12.m3
                span.grey-text.text-lighten-1 CONSENT TYPE
                  br
                span.consent Consent Type
    div.section#prev-leaves(hidden='true')
      .row
        h4 Previous Leave Records
      .row
        .col.s12.white.z-depth-1.collection#prev-leaves-list
