---
title: SWD Services
---
div.main
  div.container
    div.section
      .row
        h4 Hostel Facilities
      .row
        .col.s12.white.z-depth-1.no-padding
          img.col.s12.m6.no-padding.responsive-img(src='images/avatar-large.jpg')
          .col.s12.m6
            .col.s12.swd-services-content
              p The hostels are well quipped with daily use amenities and provides the following 24/7: 
              .row.padded-container--less
                .col.s4.center-align
                  i.mdi-maps-local-drink.small.orange-text
                  br
                  span Water
                .col.s4.center-align
                  i.mdi-image-flash-on.small.orange-text
                  br
                  span Electricity
                .col.s4.center-align
                  i.mdi-hardware-security.small.orange-text
                  br
                  span Security
              .row.padded-container--less
                .col.s4.center-align
                  i.mdi-maps-local-drink.small.orange-text
                  br
                  span Water
                .col.s4.center-align
                  i.mdi-image-flash-on.small.orange-text
                  br
                  span Electricity
                .col.s4.center-align
                  i.mdi-hardware-security.small.orange-text
                  br
                  span Security
              .row.padded-container--less
                .col.s4.center-align
                  i.mdi-device-wifi-lock.small.orange-text
                  br
                  span Networking
                .col.s4.center-align
                  i.mdi-image-flash-on.small.orange-text
                  br
                  span Electricity
                .col.s4.center-align
                  i.mdi-hardware-security.small.orange-text
                  br
                  span Security
    div.section
      .row
        h4 Mess Facilities
      .row
        .col.s12.white.z-depth-1.no-padding
          img.col.s12.m6.l4.no-padding.responsive-img(src='images/avatar-large.jpg')
          img.col.s12.m6.l4.no-padding.responsive-img(src='images/avatar-large.jpg')
          .col.s12.m12.l4.swd-services-content
            .col.s12
              p There are two mess options for students, the A Dining Hall and the C Dining Hall catered by <strong>Shetty Sons</strong> and <strong>Aditya Caterers</strong> respectively. <br/> Each mess can serve 1200 people at breakfast, lunch and dinner. The menu for the messes can ve viewed below.
            .col.s6.center-align
              a.waves-effect.waves-light.orange.darken-2.btn(href='#') A Mess Menu
            .col.s6.center-align
              a.waves-effect.waves-light.orange.darken-2.btn(href='#') C Mess Menu
    div.section
      .row
        h4 Financial Aid
      .row
        .col.s12.white.z-depth-1.no-padding
          .col.s12.swd-services-content
            .col.s12.swd-services-content.padded-container
              p The institute offers both merit and merit-cum-need scholarships for students with creditable acedemic performace. The various benefits are as follows:
            .col.m4.hidden-on-mobile-only.padded-container.valign-wrapper
              img.responsive-img(src='images/avatar-large.jpg', alt='President')
            .col.m8.s12
              ul
                li.valign-wrapper
                  .col.s1
                    i.mdi-action-star-rate.medium.orange-text.text-darken-2
                  .col.s11
                    p.leftpad.financial-aid-list-item Full tution waiver awarded to the top 10 meritorious 1st degree students of each batch.
                li.valign-wrapper
                  .col.s1
                    i.mdi-action-star-rate.medium.orange-text.text-darken-2
                  .col.s11
                    p.leftpad.financial-aid-list-item 50% & 25% tution waiver awarded to meritorious students whose parental income is less than Rs.3 lakhs.
                li.valign-wrapper
                  .col.s1
                    i.mdi-action-star-rate.medium.orange-text.text-darken-2
                  .col.s11
                    p.leftpad.financial-aid-list-item This scholarship is awarded every semester.
                li.valign-wrapper
                  .col.s1
                    i.mdi-action-star-rate.medium.orange-text.text-darken-2
                  .col.s11
                    p.leftpad.financial-aid-list-item On an average, 25% of the students are awarded the Institute Scholarship.
