---
title: SWD Services
---
div.main
  div.container
    div.section
      .row
        h4 Hostel Facilities
      .row
        .col.s12.white.z-depth-1.no-padding
          img.col.s12.m4.no-padding.responsive-img(src='images/avatar-large.jpg')
          .col.s12.m8
            .col.s12.swd-services-content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              .row
                h5.row.center-align 24/7 Facilities
                .row
                  .col.s3.m3.center-align
                    i.mdi-maps-local-drink.small.orange-text
                    br
                    span Water Supply
                  .col.s3.m3.center-align
                    i.mdi-image-flash-on.small.orange-text
                    br
                    span Electricity
                  .col.s3.m3.center-align
                    i.mdi-hardware-security.small.orange-text
                    br
                    span Security
                  .col.s3.m3.center-align
                    i.mdi-device-wifi-lock.small.orange-text
                    br
                    span Networking
    div.section
      .row
        h4 Mess Facilities
      .row
        .col.s12.white.z-depth-1.no-padding
          img.col.s12.m6.l4.no-padding.responsive-img(src='images/avatar-large.jpg')
          img.col.s12.m6.l4.no-padding.responsive-img(src='images/avatar-large.jpg')
          .col.s12.m12.l4.swd-services-content
            .col.s12
              p There are two mess options for students, the A Dining Hall and the C Dining Hall catered by <strong>Shetty Sons</strong> and <strong>Aditya Caterers</strong> respectively. Each mess can serve 1200 people at breakfast, lunch and dinner. The menu for the messes can ve viewed below.
            .col.s6.center-align
              a.waves-effect.waves-light.orange.darken-2.btn(href='#') A Mess Menu
            .col.s6.center-align
              a.waves-effect.waves-light.orange.darken-2.btn(href='#') C Mess Menu
    div.section
      .row
        h4 Financial Aid
      .row
        .col.s12.white.z-depth-1.no-padding
          .col.s12.swd-services-content
            .col.s12
              p The institute offers both merit and merit-cum-need scholarships for students with creditable acedemic performace. The various benefits are as follows:
            .col.s12
              ul
                li.valign-wrapper
                  i.mdi-action-star-rate.small.orange-text.text-darken-2
                  span.leftpad Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                li.valign-wrapper
                  i.mdi-action-star-rate.small.orange-text.text-darken-2
                  span.leftpad Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                li.valign-wrapper
                  i.mdi-action-star-rate.small.orange-text.text-darken-2
                  span.leftpad Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

