---
title: Welcome, Warden
---
.main
  .container
    .section
      .row
        h4 Profile
      .row.padded-container.white.z-depth-1.no-padding--mobile
        .col.s12.l4.hide-on-med-and-down
          img.responsive-img(src='images/avatar-large.jpg', alt='President')
        .col.s12.l8.top-padding--mobile
          .row.leftpad
            .col.s12
              h5.profile-name#profile-name Name
            .row
              .col.s12.l6.valign-wrapper
                .profile-content.hostel-line {HOSTEL} Warden
              .row.hide-on-large-only
